body#describe {
  h1 {
    .link_to_view, .link_to_download {
      display: inline-block;
      margin-left: 2em;
      font-size: 18px;
    }
  }

  .picklist {
    padding-left: 1em;
    list-style: none;
  }
  .reference {
    padding-left: 1em;
  }
}